body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #FAF9F6;
    font-size: 24px;
    font-weight:100px;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FAF9F6;
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}

.weather-app {
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #386d82;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
margin-right: 10px;
height: 64px;
width: 64px;
}

.weather-temperature strong {
   color: #FAF9F6;
   font-size: 64px;
   font-weight: 400; 
   line-height: 1;
}

.weather-temperature .units {
    color: #FAF9F6;
    position:relative;
    font-size: 16px;
    text-decoration: none;
    top: -34px;
}

.units a {
    color:#e6e200;
    text-decoration: none;
}
.weather-temperature .active {
    color: #FAF9F6;
    cursor: default;
}
.weather-temperature .inactive {
    color: #6b9362;
}
.weather-temperature .active:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #244653 !important;
    border-color: #244653 !important;
    }